.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  height: auto;
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 6%;
}

.blog-card-content {
  border: 7px solid var(--black-trans-ii);
  box-shadow: .25px -.25px rgba(255, 255, 255, 0.2), 0 0px .25px 0 rgba(255, 255, 255, 0.19);
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  margin: .8rem;
  min-width: 0;
  flex: 2 0 calc(50% - 20px);
  background-color: var(--gray-black);
  box-sizing: border-box;
}

.blog-card {
  /* text-align: center; */
  padding: 4.5% 4% 1% 4%;
}

.blog-card .heading-title {
  text-align: center;
}

.blog-card .paragraph {
  padding-top: 2%;
}

.subtitle {
  line-height: 1.3;
}

.details {
  max-width: 150ch;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  text-align: justify;
  font-family: var(--third);
}

@media screen and (min-width: 1081px) {
  .blog-container {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .blog-card-content {
    flex-basis: calc(50% - 20px);
    min-height: 250px;
    /* max-height: 250px; */
    max-width: 550px;
  }
}

@media (max-width: 1080px) {
  .blog {
    padding: 0 auto;
    margin: auto;
  }
  #cta-button {
    min-width: 100%;
  }
  .blog-container {
    display: flex;
    justify-content: center;
    max-width: 95%;
  }
  .blog-card-content {
    flex-basis: 95%;
    min-width: 80vw;
  }
}