.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  max-width: 100%;
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-topics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 3rem;
  padding: 5%;

}

.blog-card-content {
  background-color: var(--bg-darkgray-color);
  border-radius: 2px;
  border: .75px solid var(--ii-neutral-color);
  /* box-shadow: 0px 10px 20px var(--ii-gray-gradient)); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.5rem;
  min-width: 0;
  max-width: 100%;
  flex: 1 0 calc(50% - 20px);
  padding: 5%;
}

/* .blog-card:nth-child(2) {
  margin-right: 0;
  } */
/*why is this here? */

@media screen and (max-width: 1080px) {
  .blog-container {
    display: flex;
    justify-content: center;
    padding: 5%;
  }
  
  .blog-card-content {
    flex-basis: 100%;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.subtitle {
  line-height: 1.3;
  margin-bottom: 1rem;
}

.details {
  max-width: 250ch;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.25rem;
  text-align: justify;
  color: var(--primary-color);
  padding-bottom: 2%;
  font-family: var(--third);
}

.blog-card-content .sub-bold {
  font-family: var(--page-title);
  color: var(--ii-neutral-color);
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0% 0 1.5% 0;
}



.lm-button {
  display: inline-block;
  padding: 12px 24px !important;
  margin: 5% 3% 0 3% !important;
  width: 200px;
  height: 48px;
  border-radius: 4px;
  text-align: center;
  font-size: 1rem;
  font-family: var(--page-title);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: var(--bg-darkgray-color);
  color: var(--ii-neutral-color) !important;
  border: .75px solid var(--ii-neutral-color);
}

.lm-button>a {
  color: var(--ii-neutral-color);
}

.lm-button:hover {
  background-color: var(--bg-color);
  font-size: 1.1rem;
  border: none;
}

@media screen and (min-width: 1091px) {
  .blog-card-content {
  flex-basis: calc(50% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  min-height: 325px;
  max-height: 325px;
  }
  }

@media (min-width: 1080px) {
  .blog {
    padding: 0;
    margin: 0;
  }

  .blog-topics {
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100vw;
    margin: 0 auto;
  }

}
