.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  max-width: 100vw;
  overflow: hidden;
}

.carousel-item {
  opacity: 0;
  position: absolute;
  text-align: center;
}

.carousel-item.active {
  opacity: 1;
  animation: fade 1s ease-in-out forwards;
}

.carousel-item img {
  max-height: 100%;
  max-width: 100vw;
  object-fit: cover;
  transform: scale(0.75);
}

@keyframes fade {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}

@media (max-width: 1080px) {
  .carousel-item img {
    max-width: 100vw;
    max-height: auto;
  }
}
