/* Reset some default browser styles */
body,
h1,
h2,
p,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: var(--fourth);
}

textarea {
  width: 100%;
  height: auto; /* Set initial height to auto */
  min-height: 240pt; /* Set maximum height to 300px */
  resize: none; /* Disable manual resizing */
  padding: 1.618% 0 3.236% 0;
}


input,
textarea {
  font-family: inherit;
  font-size: inherit;
  text-align: center; /* Align text horizontally within input fields */
  vertical-align: middle; /* Align text vertically within input fields */
  padding: 1.618%; /* Add left and right padding of 1.618% to input fields */
}



/* Center the form on the page */
form {
  max-width: 61.8%;
  margin: 50px auto;
  padding: 0 6.18% 6.18% 6.18%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1pt solid var(--border-line);
  /* font-size: var(--fs-heading-title); */
}

.sections {
  /* max-width: 96.8%; */
  margin: 50px auto;
  padding: 0 6.18% 6.18% 6.18%;
  background-color: rgba(0, 0, 0, 0.38);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1pt solid black;
}

.physical-address {
  margin-bottom: 0;
  padding-top: 3.236%;
  padding-bottom: 0;

}

.address-block {
  margin: 1.618% 0;
}

.address-city-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1.618% 0;
}


.address-label {
  display: block;
  font-weight: bold;
  padding: 1.618% 0;
  color: white;
}

.address-line {
  margin-top: 3.236%;
  margin-bottom: 1.618%;

}

.address-line1 {
  /* margin-bottom: 0; */
  /* margin-top: 1.618%; */
  
}

.address-city-row input {
  width: 30%;
  margin-top: 1.618%;
  /* margin-bottom: 1.618%; */
}

@media (max-width: 768px) {
  .address-city-row input {
    width: 100%;
    margin-top: 1.618%;
    margin-bottom: 1.618%;
  }
}

/*Add some spacing to sections*/
section {
  margin-bottom: 20px;
}

/*Style the headings*/
#form-heading {
  padding: 8.09% 0 1.618% 0;
  font-size: var(--fs-hero-title);
  color: #333;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

.section-heading {
  font-size: 1.5em;
  color: #333;
  color: white;
  text-align: center;
  padding: 6.42% 0;
}

/*Style the labels*/
label {
  display: block;
  font-weight: bold;
  padding: 1.618% 0;
  color: white;
}

/*Style the input fields*/
input,
select,
textarea {
  width: 100%;
  padding: 10px;
  padding: 0 0 1.618% 0;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border: 1pt solid white;
  border-radius: 5px;
  font-size: 1em;
}

/* Style the radio buttons */
.radio-group {
  display: flex;
  /* gap: 3px; */
  /* margin-bottom: 10px; */

 /* radio{
    margin-right: 2px;
  } */
}

.radio-label {
  flex-direction: column;

}

/* Style the submit button */
/* .button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
} */

/* .button:hover {
  background-color: #45a049;
} */

/* Style the PayPal button */
.paypal-button {
  background-color: #0070ba;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.paypal-button:hover {
  background-color: #005c8e;
}

/* Style the textarea */
textarea {
  resize: vertical;
}

/* Style the input fields */
input,
select,
textarea {
  width: 100%;
  padding: 12px ; /* Maintain original padding */
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border: 1pt solid white;
  border-radius: 5px;
  font-size: 1em;
  /* Reset text alignment to left for all inputs */
  text-align: left;
  /* Align text vertically within input fields */
  vertical-align: middle;
}

/* Center text in address-city-row inputs */
.address-city-row input {
  text-align: center;
}

/* Center dropdown menu items */
option {
  text-align: center;
  /* padding-right: 1.618%; */
}


/* Add some responsiveness */
@media (max-width: 600px) {
  form {
    padding: 10px;
  }
}
