.footer-nav { 
  position: fixed;
  bottom: 0;
  min-width: 100vw;
  height: 70px;
  background-color: var(--ii-gray-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav .footer-navbar {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav .footer-nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-family: var(--third);
  text-align: center;
  letter-spacing: .15em;
  color: var(--white-white);
  font-size: .9rem;
}

.footer-nav .footer-copyright {
  padding: 0 0 .5rem 1.5rem;
  font-family: var(--third);
  justify-content: center;
  align-items: center;
}
