body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.footer-nav {
  width: 100vw;
  height: 70px;
  background-color: var( --black-trans-ii);
  display: flex;
  justify-content: center;
  align-items: center;
  color:var(--my-white);
  letter-spacing: .1rem;
}
