body:before {
  display: none;
}

.header {
  background-color: var(--gray-black);
  background-color: var(--black-trans-ii);
  position: fixed;
  height: 80px;
  min-width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .3s ease-in;
  overflow: hidden;
  padding: 0 5%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-s4);
  min-width: 100%;
  height: 100%;
  /*KEEP NOTE - must give height or flex won't display properly*/
  /* padding: 0 1rem; */
}

img #nav-logo {
  max-width: 100% !important;
}

.companylogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-s2);
  font-family: var(--third);
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1rem;
  gap: 1rem;
  letter-spacing: .2rem;
  font-size: var(--fs-heading-title);
}

.companylogo:hover {
  font-size: 1.25rem;
  color: var(--accent-one);
}

.nav-menu a {
  font-family: var(--third);
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: .09rem;
  font-weight: 300;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
}

.nav-menu a:hover {
  color: var(--accent-one);
  cursor: pointer;
}

.mobile-social-nav {
  display: none;
}

.social-list {
  display: flex;
  min-width: 5vw;
}

.social-list a:hover {
  color: var(--accent-blue);
  cursor: pointer;
}

.nav-item .active {
  font-weight: bolder;
  color: var(--accent-s5);
}


.hamburger {
  display: none;
}


.desktop-social-bar {
  display: flex;
  min-width: 20%;
  justify-content: center;
  padding-right: 5%;
}

.social a {
  display: flex;
  flex-direction: row;
  font-family: var(--third);
  justify-content: space-evenly;
  list-style: none;
  font-size: 1.5rem;
  color: var(--gray-s6) !important;
  margin: 15%;
}

.desktop-social-bar a:hover {
  color: var(--accent-one);
}


@media screen and (max-width:940px) {
  .header {
    display: flex;
    min-width: 100vw;
    height: 76px;
    padding: 1%;
    background-color: var(--gray-black);

  }

  .header .nav-item {
    padding: 1%;
    ;
  }

  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    height: 100%;
    padding: .75rem;
  }

  img #nav-logo {
    max-width: 100% !important;
  }

  .companylogo {
    display: flex;
    font-size: var(--fs-paragraph);
    color: var(--white-white);
  }

  .hamburger {
    display: block;
    padding-right: 2.5%;
  }

  .desktop-social-bar {
    display: none;
  }

  .nav-menu a {
    display: flex;
    flex-basis: 1;
    /* max-width: 48ch; */
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 3rem 0;
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 76px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray-black);
    width: 100%;
    height: 75vh;
    z-index: 999;
    transition: .5s;
    padding: 2rem o;
    z-index: -1;
  }

  .nav-menu.active {
    right: 0;
    display: flex;
    align-self: center;
    font-weight: bold;
    padding: 3rem;
  }

  .social-list {
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--bg-darkgray-color);
    padding: 1.5rem;
    min-width: 100%;
  }

  .social-list a {
    padding: 0rem .2rem;
    font-size: 1.25em;
  }

  .fcebook:hover, .youtube:hover, .instagram:hover {
    color: var(--accent-one);
  }


}