@import url('https://fonts.googleapis.com/css?family=Raleway:wght@100;200300;400;500;600;700;800;900');
@import url('https://fonts.googleapis.com/css?family=Lato:wght@100;300;400;700;900');
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova:wght@300;400;600;700;800');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;100italic;200;200italic;300;300italic;400;400italic;500;500italic;600;600italic;700;700italic;800;800italic;900;900italic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;100italic;300;300italic;400;400italic;500;500italic;700;700italic;900;900italic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;300italic;400;400italic;700;700italic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;100italic;200;200italic;300;300italic;400;400italic;500;500italic;600;600italic;700;700italic;900;900italic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


/* Montserrat: 'Montserrat', sans-serif
Roboto: 'Roboto', sans-serif
Roboto Condensed: 'Roboto Condensed', sans-serif
Roboto Slab: 'Roboto Slab', sans-serif
Open Sans: 'Open Sans', sans-serif
Source Sans Pro: 'Source Sans Pro', sans-serif
Poppins: 'Poppins', sans-serif
Inter: 'Inter', sans-serif
Rubik: 'Rubik', sans-serif
Raleway: 'Raleway', sans-serif
Lato: 'Lato', sans-serif */

:root {
  /* My Variables */

  /* Shadows / drop-shadow(offset-x offset-y blur-radius color) */
  --filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  --my-filter: drop-shadow(12px 20px 45px rgba(43, 43, 43), .5);
  --overlay: linear-gradient(hsl(0 0% 0% / 1),
      rgba(88, 88, 88, 0.1) 20%,
      hsl(0 0% 0% / 0));

  /* Fonts - Global / Changed all to Raleway... */
  /* --main: 'Proxima Nova', sans-serif; */
  /* --main: 'Roboto', sans-serif; */
  /* --main: 'Rubik', sans-serif; */
  --main: 'Montserrat', sans-serif;




  --second: 'Proxima Nova', serif;
  --second: 'Montserrat', sans-serif;
  /* --second: "Montserrat", sans-serif; */
  /* --second: 'Rubik', sans-serif; */
  /* --second: 'Open-Sans', sans-serif; */
  /* --second: 'Inter', sans-serif; */

  /* --second: 'Raleway', sans-serif; */


  --third: 'Raleway', serif;
  --third: 'Proxima Nova', serif;
  --third: 'Montserrat', sans-serif;


  --fourth: 'Lato', serif;
  --fourth: 'Raleway', sans-serif;

  /* Colors */
  /* --overlay: hsl(0, 0%, 10%); */
  --transparent-color: #110F00;
  /* nav-bar, shadows, social hover and cards */
  --green-color: #002000;
  /* naija green*/
  --primary-color: rgb(28, 28, 28);
  /* background for site*/
  --secondary-color: rgb(43, 43, 43);
  /*level two background*/
--border-line:  #00FFFF;

  --accent-one: #00FFFF;
  /* main accent color - buttons, links, etch*/
  --accent-s1: #EBFFFF;
  /* lightest shade of accent (special) */
  --accent-s2: #B8FFFF;
  /* */
  --accent-s3: #85FFFF;
  /* */
  --accent-s4: #02E9E9;
  /* */
  --accent-s5: #01B6B6;
  /* */
  --accent-s6: #008484;
  /* */
  --accent-s7: #005151;
  /* */

  --accent-two: #FF5733;
  /* */

  --accent-three: #E7E6CD;

  --darkest-gray: #373535;
  
  --gray-black: #252323d4;
  /*level two backgrounds */
  --gray-s6: #737373;
  /* level one backgrounds and text */
  --gray-s5: #8C8C8C;
  /* button text/ link text / outlines */
  --gray-s4: #A6A6A6;
  /* */
  --gray-s3: #BFBFBF;
  /* */
  --gray-s2: #CCCCCC;
  /* */
  --gray-s1: #D9D9D9;
  /* */
  --lightest-gray: #D8D8D8;


  --my-white: #D9D9D9;
  /* */
  --my-black: #0A0900;/* shaddows maybe?*/
  --white-white: white;
  --black-black: black;
  --black-trans: rgba(0, 0, 0, 0.14);
  --black-trans-ii: rgba(0, 0, 0, 0.53);












  /* ----------------- Fonts - Responsive Sizing --------------------- */

  --fs-hero-title: clamp(2rem, 3.19vw, 4rem);
  --fs-page-title: clamp(1.75rem, 2.65vw, 2.5rem);
  --fs-heading-title: clamp(1.15rem, 1.59vw, 1.15rem);
  --fs-paragraph: clamp(1rem, 1.06vw, 1rem);
  --fs-micro-text: clamp(.75rem, .79vw, 3.75em);
}


/* Headings and Subheadings (Titles/subtitles) */
.hero-title {
  margin: 4rem;
  /* color: var(--white-white); */
  font-size: var(--fs-hero-title);
  line-height: calc(var(--fs-hero-title) * 1.2);
  font-weight: bolder;
  max-width: 40ch;
  padding: 1.5rem 0;
  font-family: var(--main);
}

.page-title {
  /* margin-left: 4rem; */
  /* color: white; */
  /* color: var(--bg-darkgray-color); */
  font-size: var(--page-title);
  max-width: 40ch;
  padding: 5rem 0;
  font-family: var(--third);
  text-transform: uppercase;
}

#page-titles {
  /* margin-left: 4rem; */
  color: var(--my-white) !important;
  font-size: var(--fs-page-title);
  /* max-width: 40ch; */
  justify-self: center;
  text-align: center;
  padding: 6% 0 0 0;
  font-family: var(--main);
  text-transform: uppercase;
}

.heading-title {
  /* color: var(--amazon-dk-blue) !important; */
  color: var(--lightest-gray) !important;
  font-size: var(--fs-heading-title);
  line-height: calc(var(--fs-heading-title) * 1.4);
  padding: .25rem 0;
  font-family: var(--fourth);
  text-transform: uppercase;
  border-bottom: 3.75px dotted var(--black-trans);
  border-bottom-width: 1.15rem;
  padding-bottom: 2%;
  font-weight: bold;
}

#heading-title {
  /* margin-left: 4rem; */
  color: var(--lightest-gray);
  font-size: calc(var(--fs-heading-title) * .75rem);
  line-height: calc(var(--fs-heading-title) * 1.4);
  max-width: 60ch;
  padding: .25rem 0;
  font-family: var(--second);
  /* letter-spacing: .1rem; */
  font-weight: bold;
}

.paragraph {
  /* margin-left: 4rem; */
  color: var(--gray-s2) !important;
  font-size: var(--fs-paragraph);
  /* max-width: 40ch; */
  /* padding: .25rem 0; */
  font-family: var(--third);
  font-weight: 100 !important;
  letter-spacing: .1rem;
  line-height: calc(var(--fsparagraph) * 1.618);
}

.micro-text {
  /* margin-left: 4rem; */
  /* color: var(--bg-inner-color); */
  font-size: clamp(.75rem, .79vw, 3.75em);
  /* max-width: 40ch; */
  padding: .25rem;
  font-family: var(--third);
  font-weight: 100;
}

/* 
.title {
  font-size: .5rem;
  margin-top: 10px;
  margin-bottomradius: 15px;
  font-family: var(--third);
  color: var(--bg-darkgray-color);
} */

.hook-item {
  display: flex;
  justify-self: flex-start;

  min-width: 100vw;
}

.sub-bold {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  margin: 0;
  padding-bottom: 3%;
  font-family: var(--second);
  font-weight: bold;
  /* color: var(--bg-darkgray-color); */
}

#sub-bold {
  font-size: clamp(1rem, 1.5vw, 1.3rem);
  margin: 0;
  padding-bottom: 3%;
  font-family: var(--second);
  font-weight: bold;
  /* color: var(--electric-blue) !important; */
  text-transform: uppercase;
}

.card-body {
  font-family: var(--third);
  font-size: 1.25rem;
  font-size: var(--fs-card-body);
  letter-spacing: .1rem;
  ;
  margin: 0;
  /* color: var(--secondary-color); */
}


/* ---------- 
  Global Layout 
  ---------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: visible;
}

html {
  background-color: var(--primary-color);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
}

*a {
  text-decoration: none;
}

*input,
{
width: 120px;
height: 36px;
/* color: var(--darkgray-color); */
}

textarea {
  width: 100%;
  height: 100%;
  /* color: #555; */
  font-size: 16px;
  font-family: Roboto, sans-serif;
  /* border: 1px solid #ccc; */
  border-radius: 5 px;
  box-sizing: border-box;
  padding: 8px 12px;
  placeholder: Enter your message here;
  focus-ring: 0 0 0 2px #00000040;
}

* input:focus,
* textarea:focus {
  outline: none;
  box-shadow: 0 0 5px hsl(0, 0%, 10%)inset;
  /* background-color: var(--black); */
  /* color: var(--dark-gray-color) */
}


/* ---------- Global Navigation ---------- */

* ul {
  list-style: none;
}

*a {
  text-decoration: none;
}


#cta-button {
  display: inline-block;
  padding: 12px 24px !important;
  margin: 5% 0 3% 0 !important;
  min-width: 160px;
  min-height: 48px;
  border-radius: 5 px;
  text-align: center;
  font-size: .89rem;
  font-family: var(--third);
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: var(--white-white) !important;
  border: .75px solid var(--gray-black);
  padding-bottom: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--accent-s7);
  box-shadow: 1px 1px 2.5px var(--gray-black);

}

x #cta-button:hover {
  background-color: var(--gray-black);
  color: var(--accent-one) !important;
  /* font-size: 1.1rem; */
  border: none;
  text-decoration: none;

}


/* ---------- Global Images ---------- */
* img {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
}

/* Bg  and Body Overlays */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: hsl(0, 0%, 10%); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  /* background-color: white; */
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.overlay-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  /* color: white; */
  cursor: pointer;
}



/* ---------- Media Queries ---------- */


@media (max-width: 1080px) {
  .hero-image {
    min-width: 100vw;
  }

}

@media screen and (min-width: 1091px) {
  #cta-button {
    max-width: 40vw !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-width: 95vw; */
    /* color: var(--outline-blue) !important; */
  }

}

@media screen  and {max-width: 800px) {
min-width: 95vw;
}
  
}